<!DOCTYPE HTML>
<html>
	<head>
		<title>Cardgame</title>
		<link rel="stylesheet" href="/views/style.css" type="text/css">
	</head>

	<body>
		<!-- opponent -->
		{% if opponentcards | length != 0 %}
			<table>
				<tbody>
					<!-- card images -->
					{% for card in opponentcards %}
						{% set cards_per_row = 12 %} <!-- maximum cards per row -->

						{% if(loop.index == 1) %} <!-- first row -->
							<tr>
						{% endif %}

						<td>
							<img src='/images/{{ card }}.gif' alt='card'/><br>
						</td>

						{% if((loop.index % cards_per_row) == 0) %} <!-- new row needed? -->
							</tr> <!-- close old row -->
							<tr> <!-- start new row -->
						{% endif %}

						{% if(loop.index == opponentcards | length) %} <!-- last row -->
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

		<!-- played çardstack in the middle -->
		<div class='middlestack'>
			<img src='/images/{{playstack_card}}.gif' alt='card'/>
		</div>

		<!-- storage stack in the middle -->
		<div class='middlestack'>
			<img src='/images/blank.gif' alt='card'/>
		</div>

		Deck currently has {{ deck_cardsleft }} cards left.

		<!-- player -->
		{% if playercards | length != 0 %}
			<table>
				<tbody>
					<!-- card images -->
					{% for card in playercards %}
						{% set cards_per_row = 12 %} <!-- maximum cards per row -->

						{% if(loop.index == 1) %} <!-- first row -->
							<tr>
						{% endif %}

						<td>
							<img src='/images/{{ card }}.gif' alt='card'/><br>
							<input type='button' onClick="location.href='/play/{{ card }}'" value='Play'/>
						</td>

						{% if((loop.index % cards_per_row) == 0) %} <!-- new row needed? -->
							</tr> <!-- close old row -->
							<tr> <!-- start new row -->
						{% endif %}

						{% if(loop.index == playercards | length) %} <!-- last row -->
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

		<form action='/' method='POST'>
			<p>
				{% if playercards | length == 0 %}
					You win!<br>
				{% else %}
					You have currently have {{ playercards | length }} {{ playercards | length == 1 ? 'card' : 'cards' }}.<br>
					<input type='submit' name='take' value='Take card'/>
				{% endif %}
				<input type='submit' name='reset' value='Reset game'/>
			</p>
		</form>

		<footer>
			Cardgame by Robbin Troost
		</footer>
	</body>
</html>