<!DOCTYPE HTML>
<html>
	<head>
		<title>Cardgame</title>
		<link rel="stylesheet" href="/views/style.css" type="text/css">

		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script>
		$(function() {
			$( "#dialog-message" ).dialog({
				modal: true,
				buttons: {
					Ok: function() {
						$( this ).dialog( "close" );
					}
				}
			});
		});

		$(function() {
			$( "input[type=submit], input[type=button]" )
			.button().click(function( event ) {

			});
		});
		</script>
	</head>

	<body>
		{% if playercards | length == 0 or opponentcards | length == 0 %}
			{% if playercards | length == 0 %}
				<div id="dialog-message" title="Information">
					<p>Congratulations, you've won!</p>
				</div>
			{% elseif opponentcards | length == 0 %}
				<div id="dialog-message" title="Information">
					<p>Too bad, you've lost!</p>
				</div>
			{% endif %}

			<p>
				<form action='/' id='reset' method='POST'>
					<input type='submit' name='reset' value='Start a new game'/>
				</form>
			</p>
		{% else %}
			<!-- opponent -->
			{% if opponentcards | length != 0 %}
				<table>
					<tbody>
						<!-- card images -->
						{% for card in opponentcards %}
							{% set cards_per_row = 12 %} <!-- maximum cards per row -->

							{% if(loop.index == 1) %} <!-- first row -->
								<tr>
							{% endif %}

							<td>
								{% set showcards = false %} <!-- show computer cards? -->

								{% if showcards %}
									<img src='/images/{{ card }}.gif' alt='card'/><br>
								{% else %}
									<img src='/images/blank.gif' alt='card'/><br>
								{% endif %}
							</td>

							{% if((loop.index % cards_per_row) == 0) %} <!-- new row needed? -->
								</tr> <!-- close old row -->
								<tr> <!-- start new row -->
							{% endif %}

							{% if(loop.index == opponentcards | length) %} <!-- last row -->
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			{% endif %}

			<!-- played çardstack in the middle -->
			<div class='middlestack'>
				<img src='/images/{{playstack_card}}.gif' alt='card'/>
			</div>

			<!-- storage stack in the middle -->
			<div class='middlestack'>
				<img src='/images/blank.gif' alt='card'/>
			</div>

			Deck currently has {{ deck_cardsleft }} cards left.

			<!-- player -->
			{% if playercards | length != 0 %}
				<table>
					<tbody>
						<!-- card images -->
						{% for card in playercards %}
							{% set cards_per_row = 12 %} <!-- maximum cards per row -->

							{% if(loop.index == 1) %} <!-- first row -->
								<tr>
							{% endif %}

							<td>
								<img src='/images/{{ card }}.gif' alt='card'/><br>

								<form action='/play' class='playcard' method='post'>
									<input type='submit' class='play' value='Play'/>
									<input type='hidden' name='card' value='{{ card }}'>
								</form>
							</td>

							{% if((loop.index % cards_per_row) == 0) %} <!-- new row needed? -->
								</tr> <!-- close old row -->
								<tr> <!-- start new row -->
							{% endif %}

							{% if(loop.index == playercards | length) %} <!-- last row -->
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		
			<p>
				You currently have {{ playercards | length }} {{ playercards | length == 1 ? 'card' : 'cards' }} left.<br>

				<form action='/' id='take' method='post'>
					<input type='submit' value='Take card'/>
				</form>

				<form action='/' id='reset' method='post'>
					<input type='submit' value='New game'/>
				</form>
			</p>

			{% if not validMove %}
				<div id="dialog-message" title="Invalid move">
					<p>You've tried to play an invalid card. You can only play a card with the same number or same type (hearts, spades, diamonds, clubs).</p>
				</div>
			{% endif %}
		{% endif %}

		<footer>
			Cardgame by Robbin Troost
		</footer>

		<script>
		function rewriteDocument(data) {
			var scroll = $(window).scrollTop(); // save scroll position
			document.open(); // open document
			document.write(data); // re-write document with new data
			document.close(); // close document
			$(window).scrollTop(scroll); // set back scroll position to what it was before re-writing
		}

		$(".playcard").submit(function(event) {
			event.preventDefault();

			var $form = $( this ),
			card_val = $form.find( 'input[name="card"]' ).val(),
			url = $form.attr( 'action' );
		 
			var posting = $.post( url, { card: card_val } );
			posting.done(function( data ) {
				rewriteDocument(data);
			});
		});

		$("#take").submit(function(event) {
			event.preventDefault();

			var $form = $( this ),
			url = $form.attr( 'action' );

			var posting = $.post( url, { take:true } );
			posting.done(function( data ) {
				rewriteDocument(data);
			});
		});

		$("#reset").submit(function(event) {
			event.preventDefault();

			var $form = $( this ),
			url = $form.attr( 'action' );

			var posting = $.post( url, { reset:true } );
			posting.done(function( data ) {
				rewriteDocument(data);
			});
		});
		</script>
	</body>
</html>